body {
	margin: 0;
	font-family: 'Helvetica', sans-serif, Arial, Helvetica;
}

main {
	flex-grow: 1;
}

footer {
	flex-shrink: 0;
}

button {
	border: 0;
	cursor: pointer;
}

h1, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

input {
	&:focus {
		outline: none;
	}
}